 <!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">

<section>
    <div class="container p-5 mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="card">

                    <div class="card-header text-center fs-4">
                        Add Product
                    </div>

                    <div class="card-body">
                        <form>

                            <div class="mb-3">
                                <label class="form-label">Enter Title</label>
                                <input type="text" name="title" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Enter Description</label>
                                <textarea rows="3" class="form-control"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Electronics</option>
                                    <option>Fashion</option>
                                    <option>Home</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Enter Price</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Enter Stock</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Upload Image</label>
                                <input type="file" class="form-control">
